<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>My App</title>
        <link rel="stylesheet" type="text/css" href="bootstrap/dist/css/bootstrap.css">

        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">



        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>

        <script src="jquery/dist/jquery.js"></script>
        <script src="bootstrap/dist/js/bootstrap.js"></script>


        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    </head>
    <body>

        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->


        <!-- Add your site or application content here -->

        <div class="container body_div">



        <div class="container">
            <h1><%= title %></h1>
        </div>





        <div class="container">
            <h1 class="lead"><%= list_title %></h1>
        </div>










        <ul>
        	<% for (var i = 0; i < items.length; i++) { %>
        		<li><%= items[i] %></li>
        	<% } %>
        </ul>

<!--         <form action="/add" method="post" accept-charset="utf-8">
        	<input type="text" name="newItem">
        	<input class="btn btn-default" type="submit">
        </form> -->

        <form action="/add" method="post">
            <input type="text" name="newItem">
            <input class="btn btn-default" type="submit" value="Submit">
        </form>





        </div>




<!--         <div class="container">

            <% if(!isAuthenticated) { %>
            <a class="btn btn-default" href="/login">Log In Here</a>
            <% } else { %>
            <h3>Welcome, <%= user.name %>!</h3>
            <br>
            <a class="btn btn-default" href="/api/data">Info Page</a>
            <a class="btn btn-default" href="/logout">Log Out</a>
            <% } %>

        </div> -->












    </body>
</html>